<div>
    <h1>NgBits</h1>
    <p class="lead">Bits and pieces in the form of little libraries for everyday Angular development.</p>
</div>
<!-- <section class="py-3"> -->
<h2>Usage</h2>
<p>First install the desired ngbit as a package from NPM.</p>
<pre><code [highlight]="'npm install --save @ngbits/ngbits'" [languages]="['bash']"></code></pre>
<p>Each individual ngbit feature consists of a separate module. Import the respective feature's module and add it to the
    imports array of a module in your application. For example to use the Flash feature do the following:</p>
<pre><code [highlight]="usageInstructions" [languages]="['typescript']"></code></pre>
<div class="alert alert-info">Take note that the package name is in plural
    (<code>@ngbits/ngbits</code>) whereas the individual features use the singular form like
    (<code>Ngbit[SomeFeature]Module</code>).
</div>
<h4>Optional</h4>
<p>The library comes with a number of default stylings which make use of the popular <a
        href="https://getbootstrap.com/">Bootstrap CSS</a>
    framework. For these to work, you need to also install and import boostrap.</p>
<pre><code highlight="npm install --save bootstrap" [languages]="['bash']"></code></pre>
<pre><code [highlight]="bootstrapInstructions" [languages]="['scss']"></code></pre>