.nav-link {
    cursor: pointer;
    color: var(--primary);
}

.nav-link:hover {
    text-decoration: underline;
}

.card {
    //height: 480px;
}

.card code {
    padding: 0;
}

.card-body {
    overflow: scroll;
}