<h1>Block'n'Load</h1>
<p>A service that dynamically shows and hides blocking loading components. This is useful for examle if loading routes
    takes time and the user has to wait (is "blocked") before continue to use the app.</p>
<section class="py-3">
    <h3>Example</h3>
    <div class="row">

    </div>
    <button class="btn btn-primary mr-2" (click)="message()">Launch a blocking message loader</button>
    <button class="btn btn-primary mr-2" (click)="bar()">Launch with bar</button>
    <button class="btn btn-primary mr-2" (click)="custom()">Custom</button>
</section>